<h3 class="content-type">
  Movies <span>({{ movies.length }})</span>
</h3>
<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="movies">
    <ng-container *ngFor="let movie of movies">
      <div class="movie" [ngClass]="getClassOfMovie(movie)">
        <app-movie-tile
          [id]="movie.id"
          [ImageUrl]="movie.poster"
          [ratings]="movie.ratings"
          [isWatched]="movie.isWatched"
          [isFav]="movie.isFav"
          (favClick)="onFavClick(movie)"
          (watchedClick)="onWatchedClick(movie)"
        >
        </app-movie-tile>
      </div>
    </ng-container>
  </div>
</div>
