.main-container {
  min-height: calc(100vh - 250px);
  display: flex;
}

.content-type {
  margin: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: baseline;

  & span {
    font-size: 11px;
    margin-left: 4px;
  }
}

.arrow-down img {
  cursor: pointer;
  display: none;
  position: relative;
  width: 100%;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 30px;
}

.movie {
  padding: 3px 5px;
  border-radius: 15px;
  margin: 20px;
  height: fit-content;
  box-shadow: rgb(0 0 0 / 19%) 0px -9px 20px, rgb(0 0 0 / 50%) -2px 5px 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  & .movie-thumb-container {
    text-align: center;
    img {
      border-radius: 10px;
      width: 82%;
      height: 75%;
    }
  }

  .upper-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
  }

  .bottom-container {
    display: flex;
    flex-direction: column;
  }

  .stars-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 16px;
  }
}

.movie:hover {
  transform: scale(1.1);
}

.state1 {
  background-color: #049452;
}

.state2 {
  background-color: #ed6606;
}

.state3 {
  background-color: #e8e8e8;
}

.state4 {
  background-color: #eec907;
}

@media (max-width: 480px) {
  .content-type {
    display: none;
  }
  .arrow-down img {
    display: block;
  }
}
