<h3 class="content-type">
  Movies <span>({{ movies.length + series.length }})</span>
</h3>
<div class="arrow-down" (click)="arrowDown()">
  <img src="assets/images/down-arrow.png" alt="Arrow Down" />
</div>
<div class="main-container">
  <app-sidebar
    [movies]="movies"
    [series]="series"
    [toggleSidebar]="sidebarToggle"
  ></app-sidebar>
  <div class="movies">
    <ng-container *ngFor="let movie of movies">
      <div class="movie" [ngClass]="getClassOfMovie(movie)">
        <app-movie-tile
          [id]="movie.id"
          [ImageUrl]="movie.poster"
          [ratings]="movie.ratings"
          [isWatched]="movie.isWatched"
          [isFav]="movie.isFav"
          (favClick)="onFavClick(movie)"
          (watchedClick)="onWatchedClick(movie)"
        >
        </app-movie-tile>
      </div>
    </ng-container>
    <ng-container *ngFor="let serie of series">
      <div class="movie" [ngClass]="getClassOfMovie(serie)">
        <app-movie-tile
          [id]="serie.id"
          [ImageUrl]="serie.poster"
          [ratings]="serie.ratings"
          [isWatched]="serie.isWatched"
          [isFav]="serie.isFav"
          (favClick)="onFavClick(serie)"
          (watchedClick)="onWatchedClick(serie)"
        >
        </app-movie-tile>
      </div>
    </ng-container>
  </div>
</div>
