<div class="sidebar" [ngClass]="{ open: toggleSidebar }">
  <mat-sidenav
    mode="side"
    opened
    class="mat-elevation-z8"
    mode="side"
    height
    opened
  >
    <mat-panel-title class="filter">
      <button mat-button class="menu-button" (click)="closeFitlers()">
        Close Filters
      </button>
    </mat-panel-title>
    <mat-panel-title class="filter">
      <button mat-button class="menu-button">Reset Filters</button>
    </mat-panel-title>
    <mat-expansion-panel
      [expanded]="!isMobileWidth"
      [disabled]="!isMobileWidth"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="patient-registration"> Type </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="input-group">
        <mat-checkbox checked="true" class="example-margin"></mat-checkbox>
        <label for="">Movie({{ this.moviesSize }})</label>
      </div>
      <div class="input-group">
        <mat-checkbox class="example-margin"></mat-checkbox>
        <label for="">Series({{ this.seriesSize }})</label>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="patient-registration"> Year </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let year of year">
        <div class="input-group">
          <mat-checkbox class="example-margin"></mat-checkbox>
          <label for="">{{ year }}</label>
        </div>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="!isMobileWidth"
      [disabled]="!isMobileWidth"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="patient-registration">
          MetaScore
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="input-group">
        <mat-checkbox class="example-margin"></mat-checkbox>
        <label for=""> < 60 (5) </label>
      </div>
      <div class="input-group">
        <mat-checkbox class="example-margin"></mat-checkbox>
        <label for=""> Between 60 & 50 (5)</label>
      </div>
      <div class="input-group">
        <mat-checkbox class="example-margin"></mat-checkbox>
        <label for="">Between 60 & 50 (6)</label>
      </div>
      <div class="input-group">
        <mat-checkbox class="example-margin"></mat-checkbox>
        <label for="">> 90 (5)</label>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="!isMobileWidth"
      [disabled]="!isMobileWidth"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="patient-registration">
          Watched
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="input-group">
        <mat-checkbox class="example-margin watched"></mat-checkbox>
        <label for=""></label>
      </div>
      <div class="input-group">
        <mat-checkbox class="example-margin watched"></mat-checkbox>
        <label for=""></label>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="!isMobileWidth"
      [disabled]="!isMobileWidth"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="patient-registration">
          Saved <span>(in watch list)</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="input-group">
        <mat-checkbox class="example-margin watched"></mat-checkbox>
        <label for=""></label>
      </div>
      <div class="input-group">
        <mat-checkbox class="example-margin watched"></mat-checkbox>
        <label for=""></label>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="patient-registration"> Genre </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let genre of genres">
        <div class="input-group">
          <mat-checkbox class="example-margin"></mat-checkbox>
          <label for=""> {{ genre.name }} </label>
        </div>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="patient-registration"> Actors </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let actor of actors">
        <div class="input-group">
          <mat-checkbox class="example-margin"></mat-checkbox>
          <label for=""> {{ actor }}</label>
        </div>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="patient-registration">
          Directors
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let director of directors">
        <div class="input-group">
          <mat-checkbox class="example-margin"></mat-checkbox>
          <label for=""> {{ director }} </label>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </mat-sidenav>
  <!-- </div> -->
</div>
